@import "../../vars.css";

.container{
    color: var(--color-text);
    margin-top: 240px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 180px;
}

.title{
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    font-family: 'Open+Sans', sans-serif;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
    
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: calc(10% - 11px);
    margin-bottom: 11px;
    text-align: center;
}


.skillImageContainer {
    border: .5px solid rgb(160, 156, 156);
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); */
    background-color: rgb(228, 227, 227); /* White background */
    border: none; /* No border */
    border-radius: 50px; /* Fully rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 120px;
    height: 120px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 10px;
}

.skillImageContainer img{
    width: 75px;
    height: auto;
}

.skill p{
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 500;
}

@media screen and (max-width: 830px) {
    .content {
      flex-direction: column;
      align-items: center;
      gap: 34px;
    }
    .title{
        text-align: center;
    }
  
    .skills {
      width: 100%;
      flex-direction: row;
      justify-content: center;
    }
  }