@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Outfit", Arial, Helvetica, sans-serif;
  font-family: 'Courier New', Courier, monospace;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
html{
  scroll-behavior: smooth;
}